<html>
   <body>
      <form action = "http://192.168.1.71:5000/rungatt" method = "POST">
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Downstairs" /></p>
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Upstairs" /></p>
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Sitting" /></p>
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Standing" /></p>
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Staying" /></p>
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Walking" /></p>
        <p><input name="activity" style="font-size:20pt;" type = "submit" value = "Jumping" /></p>
      </form>
   </body>
</html>
